[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",20502} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ ] },
          { "MonDemand::StatsMsg", [ mondemand_backend_stats_influxdb ] },
          { "MonDemand::LogMsg",   [ ] },
          { "MonDemand::TraceMsg", [ ] }
        ]
      },
      { mondemand_backend_stats_influxdb,
        [
          {limit, 10},
          {number, 1},
          {url, "http://127.0.0.1:8086/db/test/series?u=test&p=test"},
          {timeout, 1000},
          {worker_mod, mondemand_backend_stats_influxdb},
          {handler_mod, mondemand_backend_stats_influxdb}
        ]
      }
    ]
  }
].
