[
  { mondemand_server,
    [
      % LWES address and port to listen on, if UDP use address "0.0.0.0"
      { listener, {"0.0.0.0",25552} },

      % dispatch list, each event listed is sent to the list of modules
      { dispatch,
        [
          % catch all, all events are sent to this one unless it's empty
          { "*",                   [ ] },
          { "MonDemand::StatsMsg", [ mondemand_backend_stats_influxdb ] },
          { "MonDemand::LogMsg",   [ ] },
          { "MonDemand::TraceMsg", [ ] }
        ]
      },
      { mondemand_backend_stats_influxdb,
        [
          {number, 10},
          {url, "http://127.0.0.1:8086/write?db=mondemand&precision=s"},
          {timeout, 5000},
          {worker_mod, mondemand_backend_stats_influxdb},
          {handler_mod, mondemand_backend_stats_influxdb}
        ]
      }
    ]
  },
  { mondemand, [ { lwes_channel, { "127.0.0.1", 25552 } } ] }
].
